.navigation {
    background-color: #b8b8b8;
}
.footer {
    padding: 40px 0 15px 0;
    margin-bottom: 0;
    background-color: #e4e4e4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.colorscheme-dark .navigation {
    background-color: #1b1b1b;
}
.colorscheme-dark .footer {
    padding: 40px 0 15px 0;
    margin-bottom: 0;
    background-color: #3b3b3b;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

pre.chroma {
    background-color: #ececec;
}

img {
    border-radius: 10px;
}
a {
    padding: 0 .5px;
    border-radius: 3px;
}
.footer .container a, .external-link {
    border-radius: 3px;
    color: #0b7bd6;
}
a:hover {
    text-decoration: none;
    transition-duration: 300ms;
    color: #000f3a;
}
.footer .container a:hover, .external-link:hover {
    text-decoration:  none;
    color: #002a9e;
}

body.colorscheme-dark a:hover {
    color: #d2deff;
}
.colorscheme-dark .footer .container a, .colorscheme-dark .external-link {
    padding: 0 .5px;
    border-radius: 1vw;
    color: #e7d000;
}
.colorscheme-dark .footer .container a:hover, .colorscheme-dark .external-link:hover {
    color: #eeff00;
}

@media screen and (min-width: 769px) {
    .navigation-item {
        background-color: #a8a8c2;
        border-radius: 2vw;
    }
    
    .colorscheme-dark .navigation-item {
        background-color: #2e2c1e;
        border-radius: 2vw;
    }
    .navigation-item:hover {
        background-color: #afafaf;
        border-radius: 1vw;
    }
    
    .colorscheme-dark .navigation-item:hover {
        background-color: #35342c;
        border-radius: 1vw;
    }
}
